<!-- estilos aquí, si se habilita con un checkbox, el estilo cammbia ngclass -->


<div>
	<input (keyup.enter)="addTask(checkText)" type="text" #checkText required>
	<button (click)="addTask(checkText)">Add Task</button>
</div>

<div>
	<ul>
		<app-check *ngFor="let check of checkList">
			<input type="checkbox" [(ngModel)]="check.status">
			<span class="check-text" [ngClass]="{ done: check.status }">
				{{ check.text }}
			</span>
		</app-check>
	</ul>
	<button (click)="foo()">Click</button>
</div>


<!-- necesita un texto
el componente de checkList
estados: to-do, in-progess, done
generar la interface como el checkitem
-->
